In [281]:
# from google.colab import drive
# drive.mount('/gdrive')
# %cd /gdrive

In [282]:
import pandas as pd
import os

In [283]:
files = [file for dirpath, directory, file in os.walk('./all_csv/')][0]
# files=[file for dirpath,directory,file in os.walk(r'/gdrive/My Drive/all_csv/')][0]

In [284]:
match_data = pd.DataFrame(data=None)
odi_scorecard = pd.DataFrame(data=None)
ttwenty_scorecard = pd.DataFrame(data=None)
odi_info = pd.DataFrame(data=None)
ttwenty_info = pd.DataFrame(data=None)

In [285]:
def rename_date_umpire(index_list):
    n = 0
    for i in range(index_list.__len__()):
        if str.lower(index_list[i]).strip() == 'date':
            index_list[i] += '_'+str(n)
            n += 1
    n = 0
    for i in range(index_list.__len__()):
        if str.lower(index_list[i]).strip() == 'umpire':
            index_list[i] += '_'+str(n)
            n += 1
    n = 0
    for i in range(index_list.__len__()):
        if str.lower(index_list[i]).strip() == 'team':
            index_list[i] += '_'+str(n)
            n += 1
    return index_list

In [286]:
def find_game(df_game,df_info):
    if 'series' in df_info.columns:
        if 'odi' in str.lower(df_info.iloc[0]['series']):
            return 'odi'
        if 't20i' in str.lower(df_info.iloc[0]['series']) or 't20' in str.lower(df_info.iloc[0]['series']) or 'indian premier league' in str.lower(df_info.iloc[0]['series'])  or 'indian premier league' in str.lower(df_info.iloc[0]['competition']):
            return 'twenty'
    if max(df_game['balls-bowled'])<=24:
        return 'twenty'
    if 24<max(df_game['balls-bowled'])<=60:
        return 'odi'
    return

In [287]:
def append_file(temp_df, temp_info_df, type_game):
    global odi_scorecard
    global ttwenty_scorecard
    global odi_info
    global ttwenty_info
    if type_game == 'odi':
        odi_scorecard = odi_scorecard.append(temp_df, ignore_index=True)
        odi_info = odi_info.append(temp_info_df, ignore_index=True)
    elif type_game == 'twenty':
        ttwenty_scorecard = ttwenty_scorecard.append(
            temp_df, ignore_index=True)
        ttwenty_info = ttwenty_info.append(temp_info_df, ignore_index=True)

In [288]:
def get_extras_type(match_data):
    list_extras = []
    for index, row in match_data.iterrows():
        ov = str(row['over'])
        if '.' in ov:
            ov = str(row['over']).split('.')
            ball_no = int(ov[1])
            over_no = int(ov[0])
        else:
            continue
        if row['extras'] != 0:
            if row['runs'] != 0:
                match_data.loc[index, 'extras_type'] = 'w'
            list_extras.append(index)
        if ball_no > 6:
            if len(list_extras) > 0:
                match_data.loc[list_extras.pop(-1), 'extras_type'] = 'w'
    for i in list_extras:
        match_data.loc[i, 'extras_type'] = 'b'
    return match_data

In [289]:
def prepare_scorecard(match_data,team_0,team_1):
    match_data = get_extras_type(match_data)
#     print(match_data[match_data['bowler']==	'Mashrafe Mortaza'])
    teams=['','']
    players = list((match_data['striker'].append(
        match_data['non-striker']).append(match_data['bowler'])).unique())
    #     to make 22 players if any player has not played
#     for i in range(len(players),22):
#         players.append('p_'+str(i))
#         fow
#     player_stats=['match-id','innings','name','batting-position','over-batsman','runs-scored','balls-played','ones','twos','threes','fours','sixes','wicket-method','balls-bowled','maiden-overs','runs-given','wickets',extras,'fall-of-wicket-score','fall-of-wicket-overs','fall-of-wicket-no','fow','fow_runs','fow_overs','fow_batsman','fow_bowler']
    player_stats = ['match-id', 'team-name', 'innings', 'name', 'batting-position', 'over-batsman', 'runs-scored', 'balls-played', 'dots', 'ones', 'twos', 'threes', 'fours', 'sixes',
                    'wicket-method', 'balls-bowled', 'maiden-overs', 'runs-given', 'wickets', 'extras', 'fall-of-wicket-score', 'fall-of-wicket-overs', 'fall-of-wicket-no', 'fall-of-wicket-bowler']
    player_data = {key: {key_type: 0 for key_type in player_stats}
                   for key in players}
    for p in players:
        player_data[p]['match-id'] = match_data.loc[0, 'file_no']
        player_data[p]['name'] = p
    team_score = 0
    balls = 0
    pos = 1
    inning = False
    w = 1
    p_no = 1
    w_no = 1
    extras_over = 0
    for index, row in match_data.iterrows():
        ov = str(row['over'])
        if '.' in ov:
            ov = ov.split('.')
            ball_no = int(ov[1])
            over_no = int(ov[0])
        else:
            continue
        if over_no > 50:
            player_data = [value for key, value in player_data.items()]
            scorecard = pd.DataFrame(data=player_data)
            scorecard = scorecard[player_stats]
            return scorecard
        if ball_no == 1 and over_no == 0:
            pos = 1
            w = 1
            team_score = 0
            w_no = 1
            runs_over = 0
            if row['innings']==1 and teams[0]=='':
                teams[0]=row['batting-team']
                if teams[0]==team_0:
                    teams[1]=team_1
                elif teams[0]==team_1:
                    teams[1]=team_0
            # if row['innings']!=1:
            #     p_no=12
        if ball_no == 1:
            extras_over = 0
        if row['runs'] == 1:
            player_data[row['striker']]['ones'] += 1
        elif row['runs'] == 2:
            player_data[row['striker']]['twos'] += 1
        elif row['runs'] == 3:
            player_data[row['striker']]['threes'] += 1
        elif row['runs'] == 4:
            player_data[row['striker']]['fours'] += 1
        elif row['runs'] == 6:
            player_data[row['striker']]['sixes'] += 1
        elif row['extras'] == 0:
            player_data[row['striker']]['dots'] += 1
        if player_data[row['striker']]['batting-position'] == 0:
            player_data[row['striker']]['batting-position'] = pos
#             print(type(row['over']),type(extras_over))
#             print(row['over'])
            player_data[row['striker']
                        ]['over-batsman'] = float(row['over'])-extras_over
            pos += 1
        if player_data[row['non-striker']]['batting-position'] == 0:
            player_data[row['non-striker']]['batting-position'] = pos
            player_data[row['non-striker']
                        ]['over-batsman'] = float(row['over'])-extras_over
            pos += 1
    # wicket
#         print(row['out-player'])
        if not pd.isna(row['out-player']):
            player_data[row['out-player']]['wicket-method'] = row['out']
#             fow
#             player_data[players[p_no-1]]['fow']=w
#             player_data[players[p_no-1]]['fow_runs']=team_score
#             player_data[players[p_no-1]]['fow_overs']=row['over']
#             player_data[players[p_no-1]]['fow_batsman']=row['out-player']
#             player_data[players[p_no-1]]['fow_bowler']=row['bowler']
            p_no += 1
            w += 1
            if row['out'] != 'run out':
                player_data[row['bowler']]['wickets'] += 1
            player_data[row['out-player']]['fall-of-wicket-score'] = team_score
            player_data[row['out-player']
                        ]['fall-of-wicket-overs'] = float(row['over'])-extras_over
            player_data[row['out-player']]['fall-of-wicket-no'] = w_no
            player_data[row['out-player']
                        ]['fall-of-wicket-bowler'] = row['bowler']
            w_no += 1
        team_score += row['runs']+row['extras']
        runs_over += row['runs']
        if row['extras'] != 0 and row['extras_type'] == 'w':
            runs_over += 1
            player_data[row['bowler']]['extras'] += 1
            player_data[row['striker']]['runs-scored'] += row['extras']-1
            player_data[row['bowler']]['runs-given'] += row['extras']-1
            extras_over += 0.1
        elif row['extras'] != 0:
            #             print(row)
            player_data[row['bowler']]['balls-bowled'] += 1
            player_data[row['striker']]['balls-played'] += 1
        else:
            player_data[row['striker']]['balls-played'] += 1
            player_data[row['bowler']]['balls-bowled'] += 1
            player_data[row['bowler']]['runs-given'] += row['runs']
        player_data[row['striker']]['runs-scored'] += row['runs']
        if ball_no >= 6:
            if ball_no == 6 and runs_over == 0:
                player_data[row['bowler']]['maiden-overs'] += 1
            runs_over = 0
        player_data[row['striker']]['innings'] = row['innings']
        player_data[row['striker']]['team-name']=row['batting-team']
        player_data[row['non-striker']]['team-name']=row['batting-team']
        if row['innings'] == 1:
            player_data[row['bowler']]['innings'] = 2
            player_data[row['bowler']]['team-name']=teams[1]
#             print(teams,row['bowler'])
        elif row['innings']==2:
            player_data[row['bowler']]['innings'] = 1
            player_data[row['bowler']]['team-name']=teams[0]
#             print(teams,row['bowler'])
#     print(player_data)
    
    player_data = [value for key, value in player_data.items()]
    scorecard = pd.DataFrame(data=player_data)
    scorecard = scorecard[player_stats]
    return scorecard

In [290]:
i = 0
for file in files[:5]:
    print(i, '--', file)
    i += 1
    count = 0
    df_index = []
    df_row = []
    add = r'./all_csv/'+file
#     add=r'/gdrive/My Drive/all_csv/'+file
    df_index = ['file_no']
    file_no = file.split('.')[0]
    df_row = [file_no]
    with open(add) as f:
        new_f = f.readlines()
        for line in new_f:
            if 'version' in line:
                count += 1
            elif 'info' in line:
                count += 1
                line = line.strip().split(',')
                df_index.append(line[1])
                df_row.append(line[2])
            else:
                df_index = rename_date_umpire(df_index)
                df_dic = dict(zip(df_index, df_row), index=[0])
                temp_info_df = pd.DataFrame(df_dic)
#                 df_info=df_info.append(temp_info_df,ignore_index=True)
                # gender=df_info['gender'].iloc[0]
                # gender=str.lower(gender.strip())
                break
    temp_df = pd.read_csv(add, skiprows=count, names=[
                          0, 'innings', 'over', 'batting-team', 'striker', 'non-striker', 'bowler', 'runs', 'extras', 'out', 'out-player'])
    temp_df = temp_df.drop([0], axis=1)
    temp_df['file_no'] = [file_no]*(temp_df.shape[0])
    temp_sc = prepare_scorecard(temp_df,temp_info_df['team_0'].values[0],temp_info_df['team_1'].values[0])
    # print(temp_sc)
#     append_file(temp_df,gender,type_game)
    append_file(temp_sc, temp_info_df, find_game(temp_sc, temp_info_df))

0 -- 1019975.csv
1 -- 682919.csv
2 -- 952191.csv
3 -- 1043961.csv
4 -- 565820.csv

In [291]:
odi_info.columns

Index(['city', 'competition', 'date_0', 'file_no', 'gender', 'index',
       'match_number', 'match_referee', 'player_of_match', 'reserve_umpire',
       'season', 'series', 'team_0', 'team_1', 'toss_decision', 'toss_winner',
       'tv_umpire', 'umpire_0', 'umpire_1', 'venue', 'winner', 'winner_runs'],
      dtype='object')

In [292]:
ttwenty_info.columns

Index(['city', 'competition', 'date_0', 'file_no', 'gender', 'index',
       'match_number', 'match_referee', 'neutralvenue', 'player_of_match',
       'reserve_umpire', 'season', 'series', 'team_0', 'team_1',
       'toss_decision', 'toss_winner', 'tv_umpire', 'umpire_0', 'umpire_1',
       'venue', 'winner', 'winner_runs', 'winner_wickets'],
      dtype='object')

In [293]:
ttwenty_info

,city,competition,date_0,file_no,gender,index,match_number,match_referee,neutralvenue,player_of_match,...,team_1,toss_decision,toss_winner,tv_umpire,umpire_0,umpire_1,venue,winner,winner_runs,winner_wickets
0,,World T20,2014/03/21,682919,male,0,12,DC Boon,true,SJ Myburgh,...,Netherlands,field,Netherlands,BF Bowden,SJ Davis,IJ Gould,Sylhet Stadium,Netherlands,NaN,6
1,Chennai,NaN,2012/09/11,565820,male,0,2,BC Broad,NaN,BB McCullum,...,New Zealand,field,India,S Asnani,VA Kulkarni,S Ravi,"""MA Chidambaram Stadium",New Zealand,1,NaN

In [294]:
ttwenty_scorecard

,match-id,team-name,innings,name,batting-position,over-batsman,runs-scored,balls-played,dots,ones,...,wicket-method,balls-bowled,maiden-overs,runs-given,wickets,extras,fall-of-wicket-score,fall-of-wicket-overs,fall-of-wicket-no,fall-of-wicket-bowler
0,682919,Ireland,1,WTS Porterfield,1,0.1,47,32,13,9,...,bowled,0,0,0,0,0,69,9.1,2,Ahsan Malik
1,682919,Ireland,1,PR Stirling,2,0.1,7,9,6,1,...,caught,12,0,24,0,0,28,3.2,1,T van der Gugten
2,682919,Ireland,1,EC Joyce,3,3.3,28,25,6,14,...,run out,0,0,0,0,0,88,12.3,3,Mudassar Bukhari
3,682919,Ireland,1,AD Poynter,4,9.2,57,38,12,15,...,caught,0,0,0,0,0,189,19.6,4,Ahsan Malik
4,682919,Ireland,1,KJ O'Brien,5,12.4,42,16,1,8,...,0,18,0,29,2,0,0,0.0,0,0
5,682919,Netherlands,2,PW Borren,1,0.1,31,15,4,3,...,caught,12,0,18,0,1,91,5.6,1,KJ O'Brien
6,682919,Netherlands,2,SJ Myburgh,2,0.1,63,23,7,3,...,caught,0,0,0,0,0,98,6.3,2,GH Dockrell
7,682919,Netherlands,2,W Barresi,3,6.1,40,22,6,10,...,0,0,0,0,0,0,0,0.0,0,0
8,682919,Netherlands,2,LV van Beek,4,6.4,1,3,2,1,...,caught,6,0,18,0,0,100,7.2,3,KJ O'Brien
9,682919,Netherlands,2,TLW Cooper,5,7.3,45,15,3,3,...,caught,6,0,8,0,0,161,11.2,4,TJ Murtagh
10,682919,Netherlands,2,BN Cooper,6,11.3,9,5,2,1,...,0,0,0,0,0,0,0,0.0,0,0
11,682919,Netherlands,2,MR Swart,0,0.0,0,0,0,0,...,0,24,0,39,0,0,0,0.0,0,0
12,682919,Netherlands,2,T van der Gugten,0,0.0,0,0,0,0,...,0,18,0,32,1,0,0,0.0,0,0
13,682919,Netherlands,2,Ahsan Malik,0,0.0,0,0,0,0,...,0,24,0,26,2,0,0,0.0,0,0
14,682919,Netherlands,2,Mudassar Bukhari,0,0.0,0,0,0,0,...,0,18,0,25,0,1,0,0.0,0,0
15,682919,Netherlands,2,PM Seelaar,0,0.0,0,0,0,0,...,0,12,0,15,0,0,0,0.0,0,0
16,682919,Ireland,1,AR McBrine,0,0.0,0,0,0,0,...,0,6,0,24,0,0,0,0.0,0,0
17,682919,Ireland,1,TJ Murtagh,0,0.0,0,0,0,0,...,0,23,0,47,1,0,0,0.0,0,0
18,682919,Ireland,1,AR Cusack,0,0.0,0,0,0,0,...,0,6,0,22,0,0,0,0.0,0,0
19,682919,Ireland,1,GH Dockrell,0,0.0,0,0,0,0,...,0,18,0,43,1,0,0,0.0,0,0
20,565820,New Zealand,1,RJ Nicol,1,0.1,0,4,3,0,...,bowled,0,0,0,0,0,2,0.6,1,Z Khan
21,565820,New Zealand,1,MJ Guptill,2,0.1,1,5,4,1,...,bowled,0,0,0,0,0,2,1.3,2,IK Pathan
22,565820,New Zealand,1,KS Williamson,4,1.4,28,26,9,12,...,caught,0,0,0,0,0,92,12.3,3,IK Pathan
23,565820,New Zealand,1,BB McCullum,3,1.1,91,55,14,25,...,bowled,0,0,0,0,0,139,16.4,4,IK Pathan
24,565820,New Zealand,1,LRPL Taylor,5,12.4,25,19,1,15,...,0,0,0,0,0,0,0,0.0,0,0
25,565820,New Zealand,1,JEC Franklin,6,16.5,1,2,1,1,...,caught,24,0,25,2,1,142,17.2,5,L Balaji
26,565820,New Zealand,1,JDP Oram,7,17.3,18,9,1,4,...,0,24,0,27,0,0,0,0.0,0,0
27,565820,India,2,G Gambhir,1,0.1,3,6,3,3,...,caught and bowled,0,0,0,0,0,26,2.6,1,KD Mills
28,565820,India,2,V Kohli,2,0.1,70,41,9,18,...,caught,18,0,27,0,0,120,13.2,3,JEC Franklin
29,565820,India,2,SK Raina,3,3.1,27,22,8,9,...,caught,0,0,0,0,0,86,10.2,2,KD Mills
30,565820,India,2,Yuvraj Singh,4,10.3,35,26,7,10,...,bowled,12,0,14,0,0,162,19.4,4,JEC Franklin
31,565820,India,2,MS Dhoni,5,13.3,22,23,8,10,...,0,0,0,0,0,0,0,0.0,0,0
32,565820,India,2,RG Sharma,6,19.5,4,2,0,0,...,0,0,0,0,0,0,0,0.0,0,0
33,565820,India,2,Z Khan,0,0.0,0,0,0,0,...,0,24,0,26,1,1,0,0.0,0,0
34,565820,India,2,IK Pathan,0,0.0,0,0,0,0,...,0,24,0,31,3,0,0,0.0,0,0
35,565820,India,2,L Balaji,0,0.0,0,0,0,0,...,0,24,0,33,1,0,0,0.0,0,0
36,565820,India,2,R Ashwin,0,0.0,0,0,0,0,...,0,18,0,33,0,1,0,0.0,0,0
37,565820,New Zealand,1,KD Mills,0,0.0,0,0,0,0,...,0,18,0,17,2,0,0,0.0,0,0
38,565820,New Zealand,1,AF Milne,0,0.0,0,0,0,0,...,0,18,0,36,0,0,0,0.0,0,0
39,565820,New Zealand,1,DL Vettori,0,0.0,0,0,0,0,...,0,24,0,36,0,1,0,0.0,0,0
40,565820,New Zealand,1,RM Hira,0,0.0,0,0,0,0,...,0,12,0,20,0,0,0,0.0,0,0

In [295]:
odi_info

,city,competition,date_0,file_no,gender,index,match_number,match_referee,player_of_match,reserve_umpire,...,team_0,team_1,toss_decision,toss_winner,tv_umpire,umpire_0,umpire_1,venue,winner,winner_runs
0,Nelson,NaN,2016/12/29,1019975,male,0,2,BC Broad,NT Broom,WR Knights,...,New Zealand,Bangladesh,field,Bangladesh,C Shamshuddin,CM Brown,PR Reiffel,Saxton Oval,New Zealand,67
1,Abu Dhabi,"""ICC World Cricket League Championship",2016/01/29,952191,male,0,20,DT Jukes,NaN,Rabiul Hoque,...,United Arab Emirates,Netherlands,field,United Arab Emirates,NaN,CK Nandan,Sarika Prasad,Sheikh Zayed Stadium,Netherlands,6
2,Coffs Harbour,NaN,2016/11/29,1043961,female,0,5,PL Marshall,EA Perry,DJ Shepard,...,Australia,South Africa,field,South Africa,NaN,PJ Gillespie,JD Ward,International Sports Stadium,Australia,43

In [296]:
odi_scorecard

,match-id,team-name,innings,name,batting-position,over-batsman,runs-scored,balls-played,dots,ones,...,wicket-method,balls-bowled,maiden-overs,runs-given,wickets,extras,fall-of-wicket-score,fall-of-wicket-overs,fall-of-wicket-no,fall-of-wicket-bowler
0,1019975,New Zealand,1,MJ Guptill,1,0.1,0,4,4,0,...,lbw,0,0,0,0,0,0,0.4,1,Mashrafe Mortaza
1,1019975,New Zealand,1,KS Williamson,3,0.5,14,35,27,4,...,caught,30,0,21,3,1,37,10.5,2,Taskin Ahmed
2,1019975,New Zealand,1,TWM Latham,2,0.1,22,35,25,4,...,lbw,0,0,0,0,0,47,13.1,3,Shakib Al Hasan
3,1019975,New Zealand,1,NT Broom,4,10.6,109,107,42,49,...,0,0,0,0,0,0,0,0.0,0,0
4,1019975,New Zealand,1,JDS Neesham,5,13.2,28,31,17,10,...,stumped,12,0,12,0,1,98,22.5,4,Mosaddek Hossain
5,1019975,New Zealand,1,C Munro,6,22.6,3,7,4,3,...,bowled,12,0,12,0,0,107,25.3,5,Mashrafe Mortaza
6,1019975,New Zealand,1,L Ronchi,7,25.4,35,38,21,11,...,caught,0,0,0,0,0,171,37.3,6,Taskin Ahmed
7,1019975,New Zealand,1,MJ Santner,8,37.4,9,17,12,3,...,caught,48,1,19,1,1,198,42.5,7,Subashis Roy
8,1019975,New Zealand,1,TG Southee,9,42.6,3,7,5,1,...,caught,54,1,31,2,2,214,45.2,8,Shakib Al Hasan
9,1019975,New Zealand,1,LH Ferguson,10,45.3,4,7,5,0,...,caught,48,0,50,1,3,228,46.5,9,Mashrafe Mortaza
10,1019975,New Zealand,1,TA Boult,11,46.6,12,12,7,0,...,run out,53,0,23,2,2,251,49.6,10,Taskin Ahmed
11,1019975,Bangladesh,2,Tamim Iqbal,1,0.1,16,23,16,4,...,caught,0,0,0,0,0,30,7.2,1,TG Southee
12,1019975,Bangladesh,2,Imrul Kayes,2,0.1,59,89,47,35,...,caught,0,0,0,0,0,136,31.3,6,TG Southee
13,1019975,Bangladesh,2,Sabbir Rahman,3,7.3,38,48,32,10,...,run out,0,0,0,0,0,105,22.6,2,MJ Santner
14,1019975,Bangladesh,2,Mahmudullah,4,23.1,1,10,8,1,...,bowled,0,0,0,0,0,112,25.3,3,LH Ferguson
15,1019975,Bangladesh,2,Shakib Al Hasan,5,25.4,7,10,6,3,...,caught,60,0,45,2,0,128,28.4,4,KS Williamson
16,1019975,Bangladesh,2,Mosaddek Hossain,6,28.5,3,8,5,3,...,caught,12,0,12,1,0,134,30.4,5,KS Williamson
17,1019975,Bangladesh,2,Tanbir Hayder,7,30.5,2,5,3,2,...,stumped,48,0,47,0,0,141,32.4,7,KS Williamson
18,1019975,Bangladesh,2,Nurul Hasan,8,31.4,24,32,16,10,...,caught,0,0,0,0,0,184,42.5,10,TA Boult
19,1019975,Bangladesh,2,Mashrafe Mortaza,9,32.5,17,19,13,3,...,caught,60,1,47,3,2,162,36.4,8,TA Boult
20,1019975,Bangladesh,2,Taskin Ahmed,10,36.5,0,4,4,0,...,stumped,60,1,44,2,1,175,39.3,9,MJ Santner
21,1019975,Bangladesh,2,Subashis Roy,11,39.4,1,9,8,1,...,0,60,1,44,1,1,0,0.0,0,0
22,952191,Netherlands,1,SJ Myburgh,1,0.1,6,9,7,0,...,lbw,0,0,0,0,0,10,2.3,1,AM Guruge
23,952191,Netherlands,1,MR Swart,2,0.1,9,16,12,1,...,caught,0,0,0,0,0,30,6.5,2,AM Guruge
24,952191,Netherlands,1,BN Cooper,3,2.4,14,18,11,4,...,caught,0,0,0,0,0,33,7.6,3,Amjad Javed
25,952191,Netherlands,1,PW Borren,4,6.6,1,11,10,1,...,run out,18,0,20,0,1,33,9.5,4,Amjad Javed
26,952191,Netherlands,1,W Barresi,5,8.1,42,66,41,18,...,lbw,0,0,0,0,0,112,29.1,6,Rohan Mustafa
27,952191,Netherlands,1,RE van der Merwe,6,9.6,31,45,23,19,...,caught,60,0,35,1,0,108,26.3,5,Farhan Ahmed
28,952191,Netherlands,1,PM Seelaar,7,26.4,49,59,28,23,...,bowled,12,0,10,0,0,216,49.3,9,Rohan Mustafa
29,952191,Netherlands,1,MJG Rippon,8,29.2,34,57,35,17,...,bowled,48,0,31,2,0,188,45.2,7,Ahmed Raza
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,952191,United Arab Emirates,2,SP Patil,4,10.2,11,23,16,5,...,caught,0,0,0,0,0,56,17.4,3,T van der Gugten
37,952191,United Arab Emirates,2,Mohammad Usman,5,17.5,52,69,38,23,...,bowled,0,0,0,0,0,178,41.1,6,Mudassar Bukhari
38,952191,United Arab Emirates,2,Saqlain Haider,6,37.3,1,2,1,1,...,caught,0,0,0,0,0,161,37.5,5,T van der Gugten
39,952191,United Arab Emirates,2,Rohan Mustafa,7,37.6,27,33,17,12,...,caught,58,0,38,2,0,210,49.3,10,Ahsan Malik
40,952191,United Arab Emirates,2,Amjad Javed,8,41.2,4,10,5,4,...,caught,48,0,29,1,0,188,44.4,7,MJG Rippon
41,952191,United Arab Emirates,2,Ahmed Raza,9,44.5,0,3,3,0,...,lbw,60,1,41,1,0,191,45.2,8,Ahsan Malik
42,952191,United Arab Emirates,2,Farhan Ahmed,10,45.3,1,4,3,1,...,stumped,60,0,38,1,2,196,46.4,9,MJG Rippon
43,952191,United Arab Emirates,2,AM Guruge,11,46.5,4,8,5,2,...,0,48,2,38,3,3,0,0.0,0,0
44,1043961,Australia,1,NE Bolton,1,0.1,43,59,28,22,...,bowled,0,0,0,0,0,104,23.1,2,S Luus
45,1043961,Australia,1,BL Mooney,2,0.1,20,34,23,8,...,caught and bowled,0,0,0,0,0,47,11.4,1,A Khaka
46,1043961,Australia,1,MM Lanning,3,11.5,42,52,29,15,...,caught,0,0,0,0,0,115,25.5,3,S Luus
47,1043961,Australia,1,EA Perry,4,23.2,57,56,23,24,...,bowled,42,0,44,3,4,216,43.6,5,M Daniels
48,1043961,Australia,1,AJ Blackwell,5,25.6,10,26,16,10,...,run out,0,0,0,0,0,138,32.2,4,CL Tryon
49,1043961,Australia,1,JL Jonassen,6,32.3,39,39,19,12,...,bowled,60,1,24,1,1,220,44.4,6,S Luus
50,1043961,Australia,1,EJ Villani,7,44.1,18,14,3,6,...,0,12,0,17,0,1,0,0.0,0,0
51,1043961,Australia,1,AJ Healy,8,44.5,12,11,3,4,...,caught,0,0,0,0,0,239,47.1,7,M Daniels
52,1043961,Australia,1,GM Harris,9,47.2,1,2,1,1,...,caught,60,0,30,2,1,241,47.4,8,M Daniels
53,1043961,Australia,1,ML Schutt,10,47.5,2,5,3,2,...,run out,57,1,36,1,3,247,48.5,9,A Khaka
54,1043961,Australia,1,A Wellington,11,48.6,0,2,1,0,...,0,60,1,46,1,0,0,0.0,0,0
55,1043961,South Africa,2,L Lee,1,0.1,44,43,22,12,...,run out,0,0,0,0,0,66,12.6,1,GM Harris
56,1043961,South Africa,2,S Luus,2,0.1,31,52,30,17,...,lbw,54,0,56,3,0,87,20.6,3,GM Harris
57,1043961,South Africa,2,L Goodall,3,13.1,0,6,6,0,...,run out,0,0,0,0,0,68,14.4,2,GM Harris
58,1043961,South Africa,2,M du Preez,4,14.5,31,61,41,15,...,caught,0,0,0,0,0,157,35.2,6,A Wellington
59,1043961,South Africa,2,D Devnarain,5,21.1,26,31,17,8,...,caught,0,0,0,0,0,133,30.5,4,EA Perry
60,1043961,South Africa,2,M Kapp,6,30.6,3,8,6,1,...,caught,60,0,34,0,1,140,32.2,5,EA Perry
61,1043961,South Africa,2,CL Tryon,7,32.3,32,28,14,8,...,caught,60,2,43,0,0,188,43.3,8,JL Jonassen
62,1043961,South Africa,2,A Bosch,8,35.3,11,28,19,8,...,bowled,12,0,13,0,0,184,42.1,7,GM Harris
63,1043961,South Africa,2,A Khaka,9,42.2,8,19,12,4,...,caught,42,0,31,1,2,213,47.5,9,EA Perry
64,1043961,South Africa,2,M Daniels,10,43.4,11,13,6,3,...,0,54,0,51,3,2,0,0.0,0,0
65,1043961,South Africa,2,M Klaas,11,47.6,0,2,1,0,...,caught,18,0,16,0,2,217,48.3,10,ML Schutt

In [297]:
odi_scorecard['fall-of-wicket-overs'].value_counts()

0.0     7
45.2    3
42.5    2
44.4    2
49.3    2
48.5    2
25.3    2
11.4    1
47.1    1
49.6    1
36.4    1
32.4    1
20.6    1
14.4    1
13.1    1
1.6     1
47.5    1
43.6    1
29.1    1
42.1    1
30.5    1
25.5    1
37.5    1
9.5     1
6.5     1
46.5    1
22.5    1
49.4    1
37.2    1
10.1    1
32.2    1
48.3    1
43.3    1
32.2    1
17.4    1
41.1    1
7.6     1
2.3     1
39.3    1
26.3    1
30.4    1
23.1    1
28.4    1
22.6    1
12.6    1
0.4     1
37.3    1
31.3    1
47.4    1
35.2    1
46.4    1
7.2     1
10.5    1
Name: fall-of-wicket-overs, dtype: int64

In [280]:
odi_info.to_csv('./odi_info.csv', index=False)
ttwenty_info.to_csv('./ttwenty_info.csv', index=False)
odi_scorecard.to_csv('./odi_scorecard.csv', index=False)
ttwenty_scorecard.to_csv('./ttwenty_scorecard.csv', index=False)