In [408]:
import pandas as pd
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.io as pio
import math
# renderer for jupyter notebook
pio.renderers.default='notebook'

In [409]:
pio.templates.default = "plotly_dark"

In [410]:
df_scorecard=pd.read_csv(r'./full/odi_scorecard.csv')
df_info=pd.read_csv(r'./full/odi_info.csv')

### Hypothesis

#### 1

* H(0):Number of batsman bowled is equal to batsman dismissed by lbw
* H(A):Number of batsman bowled is not equal to batsman dismissed by lbw

##### Data

In [411]:
df_first=df_scorecard[(df_scorecard['wicket-method']=='bowled')|(df_scorecard['wicket-method']=='lbw')][['match-id','wicket-method']]

In [412]:
df_first['lbw']=df_first['wicket-method'].apply(lambda x: 0 if x=='bowled' else 1 )
df_first['bowled']=df_first['wicket-method'].apply(lambda x: 1 if x=='bowled' else 0 )

In [413]:
df_first=df_first.groupby(['match-id'],as_index=False).sum()

In [414]:
df_first=df_first[['lbw','bowled']]

In [415]:
df_first

      lbw  bowled
0       0       2
1       2       3
2       0       5
3       1       2
4       3       6
5       1       6
6       0       3
7       1       2
8       0       3
9       2       2
10      0       4
11      2       7
12      1       3
13      0       2
14      0       5
15      0       1
16      3       3
17      0       3
18      1       2
19      3       5
20      1       1
21      2       4
22      3       0
23      0       2
24      0       1
25      2       2
26      1       1
27      1       1
28      3       0
29      1       3
...   ...     ...
1647    2       1
1648    1       6
1649    1       4
1650    2       6
1651    2       4
1652    1       3
1653    0       1
1654    3       2
1655    0       4
1656    2       4
1657    4       3
1658    1       2
1659    0       6
1660    2       4
1661    1       0
1662    1       5
1663    1       0
1664    1       3
1665    1       2
1666    3       2
1667    1       2
1668    4       5
1669    2       4
1670    2       1
1671    7       4
1672    1       3
1673    6       3
1674    2       1
1675    2       3
1676    1       5

[1677 rows x 2 columns]

#### 2

* H(0):Wickets fallen in the first 70% of the first innings is equal to the wickets fallen in the last 30% of the first innings
* H(A):Wickets fallen in the first 70% of the first innings is not equal to the wickets fallen in the last 30% of the first innings

##### Data

In [416]:
temp=pd.DataFrame(data=None)
temp=df_scorecard[df_scorecard['innings']==1]
temp=temp.groupby('match-id',as_index=False).sum()
temp['total-overs']=round(temp['balls-played']/6)
temp=temp[['match-id','total-overs']]
temp['first-seventy']=round(temp['total-overs']*0.7)
temp=temp.merge(df_scorecard[(df_scorecard['innings']==1) &(df_scorecard['fall-of-wicket-overs']>0.0)],on=['match-id'])
temp['fall-of-wicket-overs']=temp['fall-of-wicket-overs'].apply(lambda x: int(x)+1)

In [417]:
df_second=pd.DataFrame({'match-id':temp['match-id']})
df_second['first-seventy-wickets']=temp[(temp['fall-of-wicket-overs']<=temp['first-seventy']) & (temp['fall-of-wicket-overs']>0)]['fall-of-wicket-overs']
df_second['last-thirty-wickets']=temp[temp['fall-of-wicket-overs']>temp['first-seventy']]['fall-of-wicket-overs']
df_second['first-seventy-wickets']=df_second['first-seventy-wickets'].apply(lambda x:1 if x>0 else 0)
df_second['last-thirty-wickets']=df_second['last-thirty-wickets'].apply(lambda x:1 if x>0 else 0)
df_second=df_second.groupby(['match-id'],as_index=False).sum()
df_second=df_second.drop(['match-id'],axis=1)

In [418]:
df_second

      first-seventy-wickets  last-thirty-wickets
0                         3                    4
1                         5                    5
2                         4                    5
3                         6                    2
4                         7                    2
5                         4                    5
6                         2                    6
7                         4                    3
8                         4                    3
9                         2                    5
10                        6                    4
11                        5                    5
12                        3                    4
13                        4                    2
14                        2                    5
15                        3                    5
16                        3                    5
17                        3                    3
18                        3                    2
19                        5                    5
20                        1                    8
21                        3                    4
22                        5                    4
23                        3                    7
24                        3                    5
25                        5                    5
26                        3                    2
27                        6                    2
28                        3                    6
29                        5                    5
...                     ...                  ...
1677                      4                    4
1678                      3                    5
1679                      3                    4
1680                      4                    3
1681                      2                    5
1682                      5                    1
1683                      4                    3
1684                      5                    5
1685                      5                    4
1686                      5                    4
1687                      3                    4
1688                      3                    3
1689                      2                    7
1690                      4                    4
1691                      3                    3
1692                      2                    7
1693                      4                    3
1694                      2                    4
1695                      2                    6
1696                      5                    5
1697                      6                    4
1698                      2                    7
1699                      3                    4
1700                      1                    3
1701                      7                    3
1702                      4                    6
1703                      5                    2
1704                      5                    4
1705                      4                    5
1706                      6                    4

[1707 rows x 2 columns]

#### 3

* H(0):There is an equal probability of wicket by the brilliance of bowler and mistake of batsman
* H(A):There is an equal probability of wicket by the brilliance of bowler and mistake of batsman

##### Data

In [419]:
df_third=df_scorecard[df_scorecard['wicket-method']!='0']

In [420]:
batsman_wic=['run out','hit wicket','obstructing the field','retired out','stumped']
bowler_wic=['caught','bowled','lbw','caught and bowled']

In [421]:
df_third['wic_batsman']=df_third['wicket-method'].apply(lambda x: 1 if x in batsman_wic else 0 )
df_third['wic_bowler']=df_third['wicket-method'].apply(lambda x: 1 if x in bowler_wic else 0 )

In [422]:
df_third=df_third[['match-id','wic_batsman','wic_bowler']]
df_third=df_third.groupby(['match-id'],as_index=False).sum()
df_third['wickets']=df_third['wic_batsman']+df_third['wic_bowler']

In [423]:
df_third.loc[:,'wic_batsman']=round(df_third['wic_batsman']/df_third['wickets'],3)
df_third.loc[:,'wic_bowler']=round(df_third['wic_bowler']/df_third['wickets'],3)
df_third=df_third[['wic_batsman','wic_bowler']]

In [424]:
df_third

      wic_batsman  wic_bowler
0           0.062       0.938
1           0.077       0.923
2           0.118       0.882
3           0.000       1.000
4           0.062       0.938
5           0.056       0.944
6           0.333       0.667
7           0.333       0.667
8           0.235       0.765
9           0.000       1.000
10          0.267       0.733
11          0.000       1.000
12          0.250       0.750
13          0.167       0.833
14          0.235       0.765
15          0.000       1.000
16          0.250       0.750
17          0.188       0.812
18          0.308       0.692
19          0.333       0.667
20          0.000       1.000
21          0.167       0.833
22          0.000       1.000
23          0.176       0.824
24          0.389       0.611
25          0.385       0.615
26          0.067       0.933
27          0.154       0.846
28          0.200       0.800
29          0.000       1.000
...           ...         ...
1677        0.111       0.889
1678        0.056       0.944
1679        0.000       1.000
1680        0.176       0.824
1681        0.059       0.941
1682        0.200       0.800
1683        0.000       1.000
1684        0.000       1.000
1685        0.188       0.812
1686        0.000       1.000
1687        0.000       1.000
1688        0.267       0.733
1689        0.053       0.947
1690        0.167       0.833
1691        0.125       0.875
1692        0.105       0.895
1693        0.100       0.900
1694        0.125       0.875
1695        0.111       0.889
1696        0.083       0.917
1697        0.062       0.938
1698        0.000       1.000
1699        0.000       1.000
1700        0.154       0.846
1701        0.056       0.944
1702        0.062       0.938
1703        0.000       1.000
1704        0.133       0.867
1705        0.056       0.944
1706        0.071       0.929

[1707 rows x 2 columns]

In [425]:
df_sample_mean_bats=[]
df_sample_mean_bowler=[]
for i in range(1000):
    df_sample=df_third.sample(n=100)
    mean_v=df_sample.mean(axis=0)
    df_sample_mean_bats.append(mean_v[0])
    df_sample_mean_bowler.append(mean_v[1])